/* Specifying the basics */
*{
    margin: 0px;
    box-sizing: border-box;
    transition-property: scroll;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* Overall Decoration */
body{
    background-image: linear-gradient(to bottom,#050404, #2c2c2c, #050404);
    color: aliceblue;
}
/* NavBar code Starts */
nav{
    margin: 0px;
    position: fixed;
    font: 17px solid;
    height: 12%;
    width: 100%;
    top: 0%;
}
/* nav ul is for positioning  */
nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 5px;
}
/* nav li is for content display  */
nav li{
    padding: 0px 2%;
    margin-top: 15px;
    list-style-type: none;
    text-decoration-color: white ;
}
nav li a:hover{
    text-decoration:3px underline;
    text-decoration-color: #cd8f14;
}
/* nav a is for content beautification  */
nav a{
    color: white;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.menu.active{
color: #1663f7;
}
/* NavBar code ends */
/* Landing Page */
#home{
    margin-top: 13%;
    margin-bottom: 13%;
    display: flex;
    flex-direction: row;

}
/* Landing Page font*/
#hometext{
    width: 50%;
}
.textpos{
    display: flex;
    flex-direction: row;
    padding: 0px 8% 0px 8%;
}
#hello
{
    padding-top: 12%;
    font-size: 350%;
}
.effect{
    text-decoration: 30% underline;
    text-decoration-color: #a86af8;
}
#intro{
    
    text-align: justify;
}
/* Button*/
#resume{
    background-color: transparent;
    color: white;
    font-size: 100%;
    font-weight: bold;
    height: 50px;
    width: 170px;
    border: 2px solid white;
    border-radius: 50px;
    margin: 0px 0px 0px 8%;
    transition: background-color 1s;
}
#resume:hover{
    background-color: #1663f7;
    cursor: pointer;
}
#resumefont{
    color: white;
    text-decoration: none;
}
#face{
    margin-top: 4%;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    width: 50%;
    padding-right: 10%;
}
#images{
    width: 65%;
    height: auto;
}
/* About Me Section */
.about{
    display: flex;
    flex-direction: row;
}
.textabout{
    width: 50%;
}
.headings{
    padding: 4% 8% 0px 8%;;
    font-size: 350%;
}
.abouttext{
    display: flex;
    flex-direction: column;
    margin: 0 3% 0 8%;   
    text-align: justify;
    padding: 4%;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
}
.mypic{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    padding-right: 10%;
}
#abtimg{
    width: 65%;
    height: auto;
}
/* Skills Section */
.skills{
    width: 100%;
}
.container1,.container2, .container3{
display: flex;
flex-direction: row;
padding: 1% 3%;
justify-content: center;
}
.skillcont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1% 3%;
}
.skilltext{
    font-size: 80%;
    font-weight: 600;
    padding-top: 14%;
}
.skillimg{
    width: 80%;
    height: auto;
}
/* Achievements Section */
.achievementssec {
    height: auto;
    padding: 3% 0;
  }
  .head {
    text-align: center;
    font-size: 350%;
  }
  .achievement {
    width: 8%;
  }
  .posntitle{
      font-weight: 700;
  }
  .posndes{
      font-weight: 300;
  }
  #kliquelink{
      text-decoration: underline;;
      color: #ffff;
  }
  .achbox{
    border: 3px solid white;
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 5%;
    margin-top: 2%;
    transition: transform 0.5s;
    padding: 2%;
  }
  .achbox:hover {
    transform: scale(1.04);
    background-image: linear-gradient(to right, #256FBB, #DF0EDF);
    color: white;
  }
  .lastachbox{
    margin-bottom: 6%;
  }
/* Projects Section */
.projcont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1% 3%;
    padding: 2% 0;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transition: transform 0.2s;
}
.projdes{
    text-align: center;
}
.projimg{
    height: auto;
    width: 40%;
}
.projtext{
    color: white;
    font-weight: 700;
    font-size: larger;
}
.projcont:hover{
    transform: scale(1.03);
}
/* Contact Me Section */
.contact{
    display: flex;
    flex-direction: row;
    background-image: url(conbg.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin:0 0 8% 4%;
}
.context{
    width: 50%;
    color: #050404;
    padding: 14% 14%;
    font-weight: 500;
    font-size: 200%;
}
.conform{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 3% 0 0 3%;
}
input{
    background-color: #ffffff;
    /* border-radius: 20px; */
    border: 1px solid black;
    color: black;
    height: 2000%;
    width: 95%;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    padding: 3.5%;
}
input[type=email]{
    width: 95%;
    color: black;
    font-weight: 500;
    border-radius: 5px;
}
textarea{
    font-size: 95%;
    resize: none;
    width: 95%;
    /* height: auto; */
    color: black;
    font-weight: 500;
    border-radius: 5px;
    padding-bottom: 15%;
}
.conicon{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 4%;
}
::placeholder{
    padding: 2%;
}
#sendbtn{
    height: 10%;
    width:20%;
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 85%;
    border-radius: 8px;
    align-items: center;
    background-color: #1663f7;
    border: #1663f7;
    transition: transform 0.2s;

}
#sendbtn:hover{
    transform: scale(1.02);
    cursor: pointer;
}
.conbox{
    width: 60%;
    border-radius: 7px;
    background-color: #e3e3e3;
    padding: 3% 0 7% 3% ;
    margin-bottom: 5%;
}
.conicon{
    padding-top: 20%;
}
.linktext{
    padding: 4%;
}
.imglo{
    width: 180%;
    height: auto;
}
@media only screen and (max-width: 768px) {
    #face{
        display: none;
    }
    #hometext{
        width: 100%;
        align-items: center;
    }
    .about{
        flex-direction: column-reverse;
    }
    .textabout{
        width: 100%;
    }
    .abouttext{
        /* width: 100%; */
        margin: 0 8%;
    }
    .mypic{
        justify-content: center;
        width: 100%;
        padding: 0 0 5% 0;
    }
    #abtimg{
        align-items: center;
        width: 35%;
        height: auto;
    }
    .skilltext{
        font-size: 60%;
    }
    .projdes,.projtext{
        font-size: 85%;
    }
    .contact{
        background-image: none;
    }
    .context{
        display: none;
    }
    .contact{
        margin: 0;
    }
    .conform{
        width: 100%;
        padding: 0 5%;
    }
    .conbox{
        width: 100%;
        padding: 7%;
    }
    .conicon{
        padding-top: 0;
    }
}
@media only screen and  (max-width: 425px){
    nav{
        height: 9%;
    }
    nav li{
        font-size: 70%;
        padding: 0 3%;
    }
    #hello{
        font-size: 250%;
    }
    #intro{
        font-size: 85%;
    }
    #resumefont{
        font-size: 85%;
    }
    .headings{
        padding-top: 15%;
        font-size: 250%;
    }
    .abouttext{
        font-size: 80%;
    }
    .container1, .container2{
        flex-direction: column;
        width: 50%;
        margin: 0px;
    }
    .skillcont{
        padding: 10% 0;
    }
    .skills{
        display: flex;
        flex-direction: row;
    }
    .projtext{
        padding-bottom: 20px;
    }
    .container3{
        flex-direction: column;
    }
.achbox{
    flex-direction: column;
}
.achievement{
    width: 30%;
}
}